@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

:root{
    --clr-blue-primary:#022C90;
    --clr-blue-secondary:#2765D9;
    --clr-yellow:#FEBB01;
}

header{
    background: linear-gradient(to bottom, var(--clr-blue-secondary), var(--clr-blue-primary));
}

.container{
    width: 90%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.footer-logo,
.btn-section,
h1{
    text-align: center;
}

form input{
    padding: .75em;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, .5);
}

.login-footer{
    display: flex;
    justify-content: space-between;
    color: var(--clr-blue-secondary);
}

.login-footer a{
    text-decoration: none;
    color: var(--clr-blue-secondary);
}

.btn-section{
    flex-direction: column;
}

.btn{
    background-color: var(--clr-blue-primary);
    text-decoration: none;
    border-radius: 16px;
    color: #fff;
    padding: .75em 0; 
    width: 100%;
}

@media (max-width:576px) {
    header{
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        padding: 1.5em;
    }

    .header-logo{
        text-align: center;
    }

    header h3{
        display: none;
    }

    main,
    .login-section{
        padding: 2em 0;
    }

    .header-logo img,
    .footer-logo img{
        width: 20vw;
    }

    .row{
        flex-direction: column;
    }

    .login-forms form{
        margin-bottom: .75em;
    }

    .btn-section{
        gap: .5em;
    }

    footer{
        position: fixed;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }

    hr{
        margin-bottom: 1em;
    }
}

@media (min-width:768px) {
    .wrapper{
        min-height: 100dvh;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
    }

    header,
    main{
        padding: 2em;
    }

    .header-logo img{
        width: 5vw;
    }

    header h3{
        color: #fff;
    }

    .login-section{
        border: 1px solid red;
        padding: 3em 0;
    }

    .login-forms{
        border: 1px solid blue;
    }

    .login-forms form{
        flex-direction: column;
    }

    .btn-section{
        border: 1px solid yellow;
        gap: .5em;
    }

    footer{
        display: none;
    }
}